
<div class="container">
  <h2>Featured Rooms</h2>
  <div class="row">
    <% @rooms.each do |room| %>
      <div class="col-md-4 card-no-hover">
      <%= link_to room_path(room) do %>
        <div class="room-card">
          <%= image_tag(room.photo_url.to_s) %>
          <div class="room-card-infos">
            <div>
              <h2><%= room.name %></h2>
              <p><%= room.address %></p>
            </div>
            <h2 class="room-card-pricing"><%= room.price %></h2>
            <img src="https://res.cloudinary.com/dhlgr04v3/image/upload/v1582668209/old-man_a6rfdi.jpg" class="room-card-user avatar-bordered" />
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
