<h2><%= @room.name %></h2>
<p><%= @room.address %></p>

<%= simple_form_for [@room, @booking], method: :post, url: room_bookings_path(@room.id) do |form| %>
  <%= form.input :start_date, as: :date, html5: true %>
  <%= form.input :end_date, as: :date, html5: true %>
  <%= form.submit "Create Booking", class: "btn btn-primary", id: "create-btn" %>
<% end %>
